<%- include("../partials/header") %>


	<header class="jumbotron">
		<div class= "container">
			<h1>
				Welcome to Motorcycle Adventures
			</h1>
			<p>
				View our motorcycle adventure trips and routes and Share yours!
			</p>
			<p>
				<a class="btn btn-primary btn-lg" href="/routes/new">Add New Route</a>
			</p>
		</div>
	</header>
	
	<div class="row text-center" stye="display:flex; flex-wrap: wrap;">
		<% routes.forEach(function(route){ %>

		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src = "<%= route.image %>">
				<div class="caption">
					<h4><%= route.name %></h4>
				</div>
				<p>
					<a href="/routes/<%= route._id %>" class="btn btn-primary">More Info</a>
				</p>
			</div>
		</div>
		
		<% }); %>
	</div>


<%- include("../partials/footer") %>